* {
    margin: 0%;
    padding: 0%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.wrapper {
    border: 1px solid black;
    display: grid;
    grid-column: 1fr 1fr;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img {
    margin: auto;
    margin-top: 10px;
    width: 210px;
    height: 300px;
}

.overview {
    margin-top: 10px;
}

.original_title {
    font-size: 17px;
}

.release_date {
    margin-left: 17px;
}

.rating {
    margin-left: 17px;
}