* {
    margin: 0%;
    padding: 0%;
}

.container {
    margin-top: 25vh;
    position: absolute;
    background-color: aqua;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.rightcontent {
    margin-top: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;


}

.rightcontent>select,
input {
    width: 50%;
}

.listOfMovies {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
}

.wrapper {
    display: grid;
    border: 1px solid black;
    gap: 10px;
    margin: 0px 10px 10px;
    background-color: aliceblue;
}

.img {
    width: 210px;
    height: 350px;
    display: flex;
    margin: auto;
}

.original_title {
    font-size: large;
    text-align: center;
}

.rating {
    text-align: center;
}