.container {
    position: absolute;
}

.listOfMovies {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrapper {
    display: grid;
    border-radius: 10px;
    gap: 10px;
    margin: 0px 10px 10px;
    background-color: silver;
}

.img {
    padding-top: 10px;
    width: 210px;
    height: 350px;
    display: flex;
    margin: auto;
}

.original_title {
    font-size: large;
    text-align: center;
}

.rating {
    text-align: center;
}