.container {
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 42vh;
    padding-top: 5px;
    margin-bottom: 30px;
    background-image: url('../../../assets/Space.jpg');
}

.img {
    height: 210px;
    width: 230px;
    margin: 0 auto;
}